
  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-auto me-auto py-3">
            &copy; Multicultural Collective 2025.
        </div>
        <div class="col-auto me-auto py-3">
          kiaora@multiculturalcollective.nz
        </div>
        <div class="col-auto py-3">
            <span>
              {{> social}}
            </span>
        </div>
      </div>
    </div>
  </footer>
