
  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-auto me-auto py-3">
            &copy; Multicultural Collective 2025.
        </div>
        <div class="col-auto me-auto py-3">
          kiaora@multiculturalcollective.nz
        </div>
        <div class="col-auto py-3">
            <span>
              <a href="mailto:kiaora@multiculturalcollective.nz" class="m-1" target="_social">
                <img src="https://s.magecdn.com/social/tc-mail.svg" alt="Email" width="25" class="rounded" /></a>
              <a href="https://www.instagram.com/multiculturalcollectivenz" class="m-1" target="_social">
                <img src="https://s.magecdn.com/social/tc-instagram.svg" alt="Instagram" width="25" class="rounded" /></a>
              <a href="https://www.linkedin.com/company/multiculturalcollective" class="m-1" target="_social">
                <img src="https://s.magecdn.com/social/tc-linkedin.svg" alt="LinkedIn" width="25" class="rounded" /></a>
              <a href="https://www.facebook.com/multiculturalcollective" class="m-1" target="_social">
                <img src="https://s.magecdn.com/social/tc-facebook.svg" alt="Facebook" width="25" class="rounded" /></a>
            </span>
        </div>
      </div>
    </div>
  </footer>
