
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-auto me-auto py-3">
            &copy; 2025-2026 <a target="_blank" href="https://opencollective.com/multiculturalcollectivenz">Multicultural Collective</a>
        </div>
        <div class="col-auto me-auto py-3">
          kiaora@multiculturalcollective.nz
        </div>
        <div class="col-auto py-3">
          {{#socials}}
          <a href="{{{href}}}" class="m-1" target="_social"><img src="https://s.magecdn.com/social/tc-{{name}}.svg" alt="{{title}}" width="30" class="rounded" /></a>
          {{/socials}}
        </div>
      </div>
    </div>
  </footer>
