<!doctype html>
<html lang="en">

{{> head}}

<body>

  {{> nav}}

  <main>
    <div class="container-fluid">
      <div id="header2" class="row">
        <div class="col px-0">
          <img src="/images/mc-website-header-2.jpg" class="img-fluid" alt="" />
        </div>
      </div>
    </div>

    <div class="container">

      <div id="about" class="row">
        <div class="col-12 col-md-6 mt-3">
          <h2 class="h4">Haere mai / Welcome</h2>
          We organise projects and events that foster multicultural and intersectional solidarity, 
          increase social cohesion and make a positive impact in the community. 
          Our area of focus is Tawa and Porirua.
        </div>
        <div class="col-12 col-md-6 mt-3">
          <h2 class="h4">Culture Share Project</h2>
          Workshops and events to share culture, teach a skill and meet people. 
          Small scale, community focused. The goal is learning, connecting and 
          multicultural appreciation.
        </div>
      </div>

      <div id="events" class="row mt-3">
        <h2 class="h4">Upcoming events</h2>

        <div class="row">
          <div class="col-12 col-sm-6 col-md-4">
            <div class="card border-0">
              <img src="/images/mc_art_workshop_13dec.png" class="card-img-top" alt="">
              <div class="card-body">
                <h3 class="card-title h5">13 Dec | Art Workshop: pot painting with Argentine designs</h3>
                <p class="card-text">
                Paint a terracota pot, learn about Argentine motifs and enjoy. Led by Gisela
                Voltolini, a graphic designer and artist.
                </p>
                <div class="d-grid gap-2">
                  <a href="https://opencollective.com/multicultural-collective/events/art-workshop-pot-painting-with-argentine-designs-65eb154b" class="btn btn-primary register">Register</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4">
            <div class="card border-0">
              <img src="/images/mc-sri-lankan-cutlets-website.jpg" class="card-img-top" alt="">
              <div class="card-body">
                <h3 class="card-title h5">14 Dec | Cooking class: Sri Lankan cutlets</h3>
                <p class="card-text">
                A Sri Lankan cutlet is history disguised as a snack. Learn to make your own. 
                Led by Kusal from Aiyō, a small family business. Proceeds go to disaster relief.
                </p>
                <div class="d-grid gap-2">
                  <a href="https://events.humanitix.com/cooking-class-sri-lankan-cutlets" class="btn btn-primary register">Register</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4">
            <div class="card border-0">
              <img src="/images/mc_te_tiriti_thumbnail.png" class="card-img-top" alt="">
              <div class="card-body">
                <h3 class="card-title h5">27 Jan | Te Tiriti talk</h3>
                <p class="card-text"></p>
                <div class="d-grid gap-2">
                  <a href="mailto:kiaora@multiculturalcollective.nz?subject=REGISTER%3A%2027%20Jan%20%7C%20Te%20Tiriti%20talk" class="btn btn-primary register">Register</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4">
            <div class="card border-0">
              <img src="/images/mc_migrant_women.png" class="card-img-top" alt="">
              <div class="card-body">
                <h3 class="card-title h5">15 Feb | Migrant women hui</h3>
                <p class="card-text">

                </p>
                <div class="d-grid gap-2">
                  <a href="mailto:kiaora@multiculturalcollective.nz?subject=REGISTER%3A%2015%20Feb%20%7C%20Migrant%20women%20hui" class="btn btn-primary register">Register</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  {{> footer}}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
</body>

</html>
