
  <nav class="navbar">
    <div class="container">
      <a class="navbar-brand" href="/">
        <h1 class="mb-0" style="font-size: 1em;">
          <img src="https://images.opencollective.com/multicultural-collective/38450d2/logo/256.png" alt="" width="50"
            class="d-inline-block align-text-middle">
          Multicultural Collective
        </h1>
      </a>
      <nav class="nav">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="#about">About</a>
        <a class="nav-link" href="#events">Events</a>
        <a class="nav-link active" href="https://opencollective.com/multicultural-collective/donate?interval=oneTime&amount=10">Donate</a>
      </nav>
      <div class="my-3">
        <a href="mailto:kiaora@multiculturalcollective.nz" class="m-1" target="_social">
          <img src="https://s.magecdn.com/social/tc-mail.svg" alt="Email" width="25" class="rounded" /></a>
        <a href="https://www.instagram.com/multiculturalcollectivenz" class="m-1" target="_social">
          <img src="https://s.magecdn.com/social/tc-instagram.svg" alt="Instagram" width="25" class="rounded" /></a>
        <a href="https://www.linkedin.com/company/multiculturalcollective" class="m-1" target="_social">
          <img src="https://s.magecdn.com/social/tc-linkedin.svg" alt="LinkedIn" width="25" class="rounded" /></a>
        <a href="https://www.facebook.com/multiculturalcollective" class="m-1" target="_social">
          <img src="https://s.magecdn.com/social/tc-facebook.svg" alt="Facebook" width="25" class="rounded" /></a>
      </div>
    </div>
  </nav>
