<a href="mailto:kiaora@multiculturalcollective.nz" class="m-1" target="_social">
    <img src="https://s.magecdn.com/social/tc-mail.svg" alt="Email" width="30" class="rounded" /></a>

<a href="https://www.instagram.com/multiculturalcollectivenz" class="m-1" target="_social">
    <img src="https://s.magecdn.com/social/tc-instagram.svg" alt="Instagram" width="30" class="rounded" /></a>

<a href="https://www.linkedin.com/company/multiculturalcollectivenz" class="m-1" target="_social">
    <img src="https://s.magecdn.com/social/tc-linkedin.svg" alt="LinkedIn" width="30" class="rounded" /></a>

<a href="https://www.facebook.com/multiculturalcollectivenz" class="m-1" target="_social">
    <img src="https://s.magecdn.com/social/tc-facebook.svg" alt="Facebook" width="30" class="rounded" /></a>
