body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* navbar */

nav.navbar {
  background-color: #fff;
}

nav.navbar nav a {
  color: #758737;
  text-transform: uppercase;
  font-size: 1.25em;
}

nav.navbar nav a.active {
  color: #fff;
  background-color: #758737;
  border-radius: 0.5em;
}

nav.navbar nav a.active:hover {
  color: #fff;
}

nav.navbar nav a:hover {
  color: #758737;
  text-decoration: underline;
}

/* header */

#header {
  border-top: 5px solid #758737;
  overflow: hidden;
}

#header img {
  position: relative;
  height: auto;
  max-width: 200%;
  left: -50%;
}

#about {
  background-color: #084439;
  color: #fff;
}

/* events */

#events h2 {
  color: #758737;
}

#events a.register {
  background-color: #758737;
  border: 1px solid #758737;
}

/* footer */

footer {
  background-color: #fff;
  border-bottom: 10px solid #758737;
}

footer .container {
  border-top: 1px solid #758737;
}

footer a {
  color: #758737;
}

/* media queries */

@media (min-width: 576px) {
  #header img {
  }
}

@media (min-width: 768px) {
  #header img {
    max-width: 120%;
    left: -12%;
  }
}

@media (min-width: 992px) {
  #header img {    
  }
}

@media (min-width: 1200px) {
  #header img {
    max-width: 100%;
    left: 0%;
  }
}

@media (min-width: 1400px) {
  #header img {
  }
}
